{{outlet}}
<div class="container">
  <h1>Movies in the Dunes</h1>

  <div class="row">

    {{#each model as |movie|}}
      {{admin-tile movie=movie destroyMovie="destroyMovie"}}
    {{/each}}

    {{new-movie save2="save3"}}

  </div>
</div>
